/*------------------------------------------------------
                        fade
--------------------------------------------------------*/
.hvr-fade {
display: inline-block;
vertical-align: middle;
-webkit-transform: perspective(1px) translateZ(0);
transform: perspective(1px) translateZ(0);
box-shadow: 0 0 1px rgba(0, 0, 0, 0);
overflow: hidden;
-webkit-transition-duration: 0.3s;
transition-duration: 1s;
-webkit-transition-property: color, background-color;
transition-property: color, background-color;
}
.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
background-color: #2098D1;
color: white;
box-shadow: 0 0 45px black;
text-shadow: 0 0 10px black;
}
/*------------------------------------------------------
                        Move SVG
--------------------------------------------------------*/
.move-svg-effect{
transition-property: all;
transition-duration: 0.8s;
background-position: 0px center ;
}
.move-svg-effect:hover{
background-repeat: no-repeat;
background-position: center center;
}